body{
    background-color: #E5E5E5;
}
ion-avatar{
    width: 30px;
    height: auto;

}
ion-img{
    width: 72px;
    height: auto;
    margin-left: 30%;
    margin-right: auto;
}
ion-input{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: auto;
    border-radius: 0px 0px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
ion-content{
    background-color: #E5E5E5;
}
ion-toolbar{
    --background: #E5E5E5;
   
}
ion-header{
    --background:#E5E5E5;
}

#items{
  padding-top: 5px;    
}
ion-item{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    --border-color: #E56946;
    --detail-icon-color: #E56946;
}
ion-icon{
    color: #E56946;
}
