.my-custom-menu {
    --width: 100%;
  }
 ion-menu{
  background: #51BFD0;
 }
 ion-content{
  --background: #51BFD0;
 }
ion-list{
  margin-top: 30%;
  padding: 20px;
 
}
ion-button{
  border-radius: 30px;
}