#container {
  text-align: center;


  position:absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


#container p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  
 
  color: #8c8c8c;

  margin: 0;
}
#logocontainer{
  background-color: #fcf6f6;
  border-radius:150px;
  width:200px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  overflow:hidden;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    border-radius:10px;
    width:100px;
    height:100px;
    margin-top: 50px;
}

ion-content.background{
  --background: url(../../assets/bgmoneysa.jpeg) 0 0/100% 100% no-repeat;
}