.logo{
    width: 72px;
    height: auto;
    margin-left: 30%;
    margin-right: auto;
}
ion-title{
    text-align: center;
    margin-top: 10px;
    color: #22497C;
}
ion-item{
    font-size: small;
}
#calculer{
    float: right;
}